h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: overline;
}

p {
    text-indent: 28px;
    text-align: left;
    color: #00f;
    font-variant: small-caps;
}