/* margin-auto = centraliza elementos de bloco */
/* text-aligne; center = centraliza elementos de linha / conteúdo */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    color: #444;
    background-color: #ccc;
    margin-bottom: 56px;
}


h1 {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    font-size: 46px;
    margin-bottom: 0;
}

h2 {
    background-color: #a9ffff;
    color: blueviolet;
    font-size: 36px;
    border-bottom: 3px solid;
    padding: 10px;
    margin-top: 48px;
    margin-bottom: 12px;
}

ul {
    padding-left: 0px;
}

li {
    list-style-position: inside;
}

.center {
    background-color: #a9ffff;
    color: blueviolet;
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    
    text-align: right;
}

.menu li { /* formata as li que estão dentro da classe menu */
    list-style-type: none;
    display: inline-block; /* deixa as listas no mesma linha */
    background-color: yellow;
    padding: 0;
}

.menu a {
    background-color: #c1bebe;
    padding: 16px; /* aumenta a área sensível do mouse */
}

.menu a:hover {
    background-color: #333;
    color: white;
    text-decoration: none;
}